:root {
  /* Typography */
  --h1-size: 24px;
  --h1-color: hsl(179, 62%, 43%);
  --h2-size: 18px;
  --p-size: 16px;

  /* Background Color */
  --bg-cyan: hsl(179, 62%, 43%);
  --bg-bright-yellow: hsl(71, 73%, 54%);

  /* Neutral Colors */
  --neutral-light-grey: hsl(204, 43%, 93%);
  --neutral-grayish-blue: hsl(218, 22%, 67%);
}
 /* Utility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Karla', sans-serif;
  background-color: var(--neutral-light-grey);
}

h1 {
    font-size: var(--h1-size);
    color: var(--h1-color);
    width: 100%;
}

h2 {
    font-size: var(--h2-size);
    width: 100%;
 
}

p {
    font-size: var(--p-size);
    width: 100%;
}

.section-container {
    background-color: white;
    width: 635px;
    height: 475px;
    margin: 163px 402px;
    border-radius: 10px;
}

.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.header-section h1 {
    padding: 40px 0 24px 40px;
}

.header-section h2 {
    padding: 0px 0 11px 40px;
    color: var(--bg-bright-yellow);

}

.header-section p {
    padding: 0px 40px 8px 40px;
    letter-spacing: -0.2px;
    font-weight: 400;
    color: var(--neutral-grayish-blue);
    line-height: 26px;
}

.column-container {
    width: 100%;
    display: flex;
    /* background-color: var(--bg-cyan); */
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.col-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: var(--bg-cyan);
    height: 100%;
    border-bottom-left-radius: 10px;
}

.col-left h2 {
    padding: 40px 0 0 40px;

}

.col-left h3 {
    padding: 18px 0 4px 40px;

}

.col-left h3 span {
    font-size: 16px;
    font-weight: 400;
    color: white;
    opacity: 0.5;
    line-height: 26px;

}

.col-left p {
    padding: 4px 0 0px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.button {
    font-size: 16px;
    width: 237px;
    height: 48px;
    border-radius: 10px;
    background-color: var(--bg-bright-yellow);
    border: none;
    color: white;
    margin: 40px 0 25px 40px;
}

.col-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: var(--bg-cyan);
    opacity: 0.89;
    border-bottom-right-radius: 10px;
}

.col-right h2 {
    padding: 40px 0 18px 40px;
}

.col-right p {
    padding: 0 40px 13px 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.175px;
    opacity: 0.75;
    width: 238px;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
